<!-- FOOTER -->
<footer id="main-footer">
    <div class="grid">
        <div class="content-wrap">
            <div id="main-footer-content">
                <div class="logo-footer">
                    <img src="/images/logo2.png" alt="">
                </div>
                <div id="footer-content">
                    <div>CONTACT ME:</div>
                    <div>github.com/HewieTran</div>
                    <div>trananhhieu07@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/javascript" src="/index.js"></script>
</body>

</html>