<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
</head>

<body>
    <header id="reviews-header">
        <div class="grid">
            <div class="content-wrap">
                <div id="nav-reviews">
                    <div class="logo">
                        <a href="/"><img src="https://i.ibb.co/f2qy8nz/Logo-Transparent.png" alt=""></a>
                    </div>
                    <!-- <div class="container-1" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div> -->
                    <div id="nav">
                        <div id="nav-link">
                            <a class="nav-link-a" href="/">Home</a>
                            <a class="nav-link-a" href="/Reviews/1">Reviews</a>
                            <a class="nav-link-a" href="/Contact">Contact Me</a>

                            <a id="nav-burger" href="#" onclick="openSlideMenu()">
                                <svg width="30" height="30">
                                    <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
                                    <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
                                    <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div id="side-menu" class="side-nav">
                        <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
                        <a href="/">Home</a>
                        <a href="/reviews/1">Reviews</a>
                        <a href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </header>