<% include partials/header %>
<main>
    <section id="section-a" class="grid">
        <div class="content-wrap">
            <div class="contact-me-grid">
                <div class="contact-me-box1 profile-pic-grid">
                    <img src="https://i.ibb.co/XFKS0TC/profile-pic-2.png" alt="" class="profile-pic">
                </div>
                <div class="contact-me-box2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus vel nibh ac laoreet.
                    Fusce molestie enim velit, a blandit quam fermentum id. Sed varius orci nec luctus malesuada. Cras
                    urna erat, pretium sit amet mattis non, imperdiet vitae sapien. Phasellus porta felis tortor, id
                    tempor orci vulputate sed. Quisque rhoncus libero sit amet eros accumsan, in placerat nunc finibus.
                    Proin id odio vel felis mollis mollis id vel ex. Aliquam fringilla, velit id imperdiet efficitur,
                    lorem diam lacinia dolor, quis tincidunt diam justo nec ex. Proin est justo, egestas eu quam
                    condimentum, dapibus pulvinar elit.

                    Morbi non egestas ligula. Proin rutrum felis nulla. Ut commodo convallis ante eget volutpat.
                    Phasellus tristique pharetra tempor. Sed eu tortor posuere, lobortis metus non, condimentum arcu.
                    Etiam in nisl volutpat, fringilla odio vel, viverra felis. Sed fermentum, turpis ut dapibus aliquet,
                    orci tellus sodales dui, vel blandit odio erat laoreet massa. Pellentesque luctus erat at erat
                    imperdiet imperdiet. Duis est leo, elementum sed sapien id, dictum dapibus justo. Suspendisse
                    potenti. Nulla eu porta dui. Donec ultricies mollis blandit.

                    Ut quis mollis sem. Cras velit nisl, gravida quis enim nec, tincidunt sagittis odio. Donec accumsan
                    volutpat leo sit amet pellentesque. Nulla pharetra sit amet magna in aliquam. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Integer imperdiet malesuada blandit. Nullam vel velit vitae augue
                    egestas euismod eget sed augue. Orci varius natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Curabitur ac lectus ac lorem mollis scelerisque. Phasellus sem orci,
                    sollicitudin eu erat ac, consequat faucibus lorem. Morbi vel justo erat. Ut vulputate ornare
                    faucibus. Cras blandit accumsan quam, ut congue diam imperdiet id. Maecenas tellus lorem, finibus ut
                    ex in, tristique fringilla urna.

                    Maecenas et nulla nec justo hendrerit pellentesque. Curabitur sollicitudin rhoncus neque ut
                    pellentesque. Vestibulum non pharetra risus, et dignissim ex. Donec laoreet, lectus vel efficitur
                    tempor, lectus nunc faucibus massa, et aliquam neque ipsum sit amet massa. Suspendisse egestas
                    feugiat leo, quis viverra diam. Pellentesque scelerisque libero eget turpis feugiat maximus.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </div>
            </div>
        </div>
    </section>

</main>

<% include partials/footer %>